.publication-entry {
    display: flex;
    align-items: center; /* Align items vertically at center */
    margin-bottom: 20px;
}

.publication-text {
    flex: 1;
    /* Add some left margin for spacing if needed */
    margin-left: 20px;
    text-align: left;
    margin-right: 40px;
    font-size: 0.9em;
}
  

.publication-figure img {
    /* Adjust width as needed */
    width: 220px; /* Fig size */
    height: auto;
}


@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .publication-entry {
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }

    .publication-figure,
    .publication-text {
        margin-right: 0;
        margin-left: 0;
        text-align: center; /* Center the text for smaller screens */
    }

    .publication-figure img {
        width: 200px; /* Adjust size for smaller screens if needed */
        margin-bottom: 15px; /* Space between image and text */
    }
}


  